$dark-green: #196453;
$medium-green: #58a997;
$light-green: #7bada2;

$lightest-purple: #AFB4D1;
$light-purple: #9197BD;
$medium-purple: #747CA9;
$dark-purple: #5C6498;
$darkest-purple: #3D4681;


$gray: #bbb;
$light-gray: #ddd;
