$dark-green: #196453;
$medium-green: #58a997;
$light-green: #7bada2;

$lightest-blue: #AFB4D1;
$light-blue: #9197BD;
$medium-blue: #747CA9;
$dark-blue: #5C6498;
$darkest-blue: #3D4681;


$gray: #bbb;
$light-gray: #ddd;
