.inner-index-container {
  margin-top: 25px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  .task-index {
    width: 93.2%;
    padding: 0 10px;
    ul {
      .task-index-item {
        margin: -1px 0;

        .task-true {
          .task-name-input {
            text-decoration: line-through;
            color: $gray;
          }
        }

        .task-form-header {
          border-top: 1px solid $gray;
          border-bottom: 1px solid $gray;
          display: flex;
          flex-direction: row-reverse;
          align-items: center;

          .task-form-input {
            font-family: $text-primary, $text-secondary;
            margin-left: -20px;
            border-top: 1px solid white;
            border-bottom: 1px solid white;
          }
          .task-form-input:hover {
            border-top: 1px solid $gray;
            border-bottom: 1px solid $gray;
          }
          .task-form-input:focus {
            outline: none;
            border-top: 1px solid $medium-purple;
            border-bottom: 1px solid $medium-purple;

          }
          .task-form-input:focus ~ .task-form {
            border: 0;
          }

          .task-name-input {
            width: 100%;
            font-size: 16px;
            padding: 3px;
            padding-left: 30px;
          }
        }
      }
    }
  }
}

.finished-button:hover {
  cursor: pointer;
}
