.main-panel {
  flex: 5;
  height: 90vh;
  background-color: $light-gray;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  .inner-panel {
    padding: 20px;

    height: 95%;
    width: 95%;
    background-color: white;
    box-shadow: 1px 2px 2px gray;
  }
}
