.main-panel {
  flex: 5;
  height: 90vh;
  background-color: $light-gray;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  .inner-panel {
    height: 97%;
    margin: 0 20px;
    flex: 1;
    padding: 20px;
    background-color: white;
    box-shadow: 1px 2px 2px gray;
  }
}
