// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.session-links {
  display: flex;
  margin-right: 10px;
  margin: 0 7px;
  a {
    text-decoration: none;
    color: $dark-blue;
    margin: 0 8px;
  }
}

.button {
  text-decoration: none;
  font-weight: bold;
  border: 2px solid $dark-blue;
  border-radius: 10px;
  padding: 10px 15px;
  background-color: white;
  color: $dark-blue;
  :hover,  {

  }
}

.button:hover, .session-links a:hover {
  cursor: pointer;
  background-color: $dark-blue;
  color: white;
  transform: color .4s ease-out,border-color .4s ease-out;
}

.form-container {
  position: relative;
  top: 30vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 90%;

  .hero-text {
    padding: 30px;
  }

  .session-form {
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: $medium-blue;

    .form-header {
      display: flex;
      justify-content: flex-start;
      width: 100%;
      h2 {
        color: white;
      }
    }


    input[type="text"] {
      border: 1px solid #FFFFFF;
      border-radius: 7px;
      font-size: 16px;
      padding: 5px;
      width: 200px;
    }
    input[type="password"] {
      border: 1px solid #FFFFFF;
      border-radius: 7px;
      font-size: 16px;
      padding: 5px;
      width: 200px;
    }

    * {
      margin: 4px 5px;
    }

    label {
      color: white;
    }
  }

}
