// Place all the styles related to the StaticPagesController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {
  background-image: url('https://res.cloudinary.com/dbxwu45pr/image/upload/v1495046731/hero-2_hiyzq5.jpg');
  background-clip: border-box;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  * {
    font-family: $text-primary, $text-secondary;
  }
  h1, h2, h3, h4 {
    font-family: $title-primary, $title-secondary;
  }
  h1 {
    font-size: 46px;
    font-weight: bolder;
  }
  h2 {
    font-size: 36px;
    font-weight: bolder;
  }
  h3 {
    font-size: 28px;
    font-weight: normal;
  }
  h4 {
    font-size: 22px;
    font-weight: normal;
  }
}
