
.top-nav {
  display: flex;
  margin: 0 auto;
  margin-top: 8px;
  padding-bottom: 8px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

img#nav-logo {
  width: 60px;
  height: auto;
}
