
.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 10vh;
  width: 100%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.logo-container, .session-links {
  margin: 0 40px;
}

.logo-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  h2 {
    font-family: $title-primary, $title-secondary;
    font-weight: normal;
    font-size: 40px;
    color: $dark-blue;
  }

  img#nav-logo {
    width: auto;
    height: 60px;
    margin-right: 5px;
  }

  :hover {
    cursor: pointer;
  }
}



.session-links {
  display: flex;

  a {
    margin: 0 8px;
  }
}

.button, .session-links a {
  text-decoration: none;
  font-weight: bold;
  font-family: $title-primary, $title-secondary;

  border-radius: 10px;
  padding: 10px 15px;
  background-color: $medium-blue;
  color: white;
}

.button:hover, .session-links a:hover {
  background-color: $dark-blue;
  cursor: pointer;

  transform: color .4s ease-out,border-color .4s ease-out;
}
